@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    text-align: start;
}

.title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 0;
}

.sub-title {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
}
