.container {
    width: 80%;
    margin: auto;
    text-align: start;
}

.list-header {
    display: flex;
    gap: 150px;
    justify-content: center;
    border-bottom: solid 1px;
    margin-bottom: 16px;
}

.list-item {
    display: flex;
    gap: 150px;
    justify-content: center;
    background-color: yellow;
    align-items: center;
}

.list-item:not(:last-child) {
    margin-bottom: 8px;
}

.list-item p {
    width: 250px;
}

.list-header p {
    width: 250px;
}