.list-header {
    display: flex;
    gap: 150px;
    justify-content: center;
    border-bottom: solid 1px;
    margin-bottom: 16px;
}

.list-item {
    display: flex;
    gap: 150px;
    justify-content: center;
    background-color: #60B2E5;
    align-items: center;
}

.list-item:not(:last-child) {
    margin-bottom: 8px;
}

.list-item p {
    width: 250px;
    padding-left: 1rem;
}

.list-header p {
    width: 250px;
}

.list {
    width: fit-content;
    max-width: 80vw;
    margin: auto;
}

p::selection {
    background-color: #5A67F2;
    color: #fff;
}